html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
}

.scrollable-image {
    display: block;
    width: 100%;     
    height: auto;    
    max-width: 100%; 
}

.banner {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1000; 
}

.banner-image {
    width: 100%; 
    height: auto; 
}

.image-container {
    position: relative; 
    width: 100%; 
    text-align: center; 
}

.page-image {
    width: 100%; 
    height: auto; 
}


.oval-button {
    position: absolute;
    bottom: 10vh; 
    left: 50%; 
    transform: translateX(-50%); 
    
    width: 40vw; 
    height: 18vh; 
    background-color: transparent; 
    border: 2px solid transparent; 
    border-radius: 50px; 
    
    color: transparent; 
    font-size: 0px; 
    text-align: center;
    line-height: 7vh; 
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}


.oval-button:hover {
    background-color: transparent; 
    border-color: transparent; 
    color: transparent; 
}
