html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
  }
  
  .scrollable-image {
    display: block;
    width: 100%;    
    height: auto;    
    max-width: 100%; 
  }
  
  .banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 确保横幅位于页面最上层 */
}

.banner-image {
    width: 100%; /* 图片占据页面宽度 */
    height: auto; /* 保持图片比例 */
}